//----------------------------------------------------------------------------------------------------------------------
// Deck Summary Styles
//----------------------------------------------------------------------------------------------------------------------

.deck-summary {
    position: relative;
    padding-bottom: 30px;
    min-height: 120px;

    h4 {
        margin: 0;
    }

    .author {
        position: absolute;
        bottom: 15px;
        left: 15px;
        font-size: .95em;
    }

    .code {
        position: absolute;
        bottom: 15px;
        right: 15px;
        font-size: .95em;
        font-weight: bold;
    }
}

//----------------------------------------------------------------------------------------------------------------------
