<div class="container new-game">

    <!-- Step 1: Name the Game -->
    <div collapse="step != 1">
        <h2 class="text-center">Name the Game:</h2>
        <form role="form">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="input-group form-group">
                    <input type="text" placeholder="Game Name" class="form-control" ng-model="gameName">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-success" ng-click="createGame()" title="New Game">
                            <i class="fa fa-plus"></i> <span class="hidden-xs">New Game</span>
                        </button>
                    </span>
                </div>
                <hr>
                <div class="form-group text-center">
                    <div class="btn-group btn-group-sm">
                        <button class="btn btn-default active" ng-model="visibilityRadio" btn-radio="'Public'">
                            <i class="fa fa-unlock"></i> Public
                        </button>
                        <button class="btn btn-warning" ng-model="visibilityRadio" btn-radio="'Private'">
                            <i class="fa fa-lock"></i> Private
                        </button>
                    </div>
                    <p class="text-muted"><small>Private games are hidden from browsing. Anyone with the link can still join.</small></p>
                </div>
                <hr>
            </div>
        </form>
    </div>

    <!-- Step 2: Select Decks -->
    <div collapse="step != 2">
        <h2 class="text-center">Select Decks:</h2>
            <span ng-repeat="deck in gameDecks">
                <span class="label label-primary">
                    {{ deck.name }}
                    <span class="remove-btn" ng-click="removeDeck(deck)"><i class="fa fa-times"></i></span>
                </span>
                &nbsp;
            </span>
        <hr/>
        <h4>Suggested Decks:</h4>
        <div class="row">
            <div ng-hide="suggested.length > 0"  class="loader text-center">
                <h4>Loading recommended decks...</h4>
                <div class="progress" style="width: 60%; margin: auto">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
            <div ng-show="suggested.length > 0" class="col-md-3" ng-repeat="deck in suggested">
                <deck-summary deck="deck" game="game" full="false"></deck-summary>
            </div>
        </div>
        <hr style="margin-top: 0;">
        <form class="row" role="form">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="input-group">
                    <input type="text" placeholder="Deck Name" class="form-control" ng-model="query">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary" ng-click="searchDecks(query)" title="Search">
                            <i class="fa fa-search"></i> <span class="hidden-xs">Search</span>
                        </button>
                    </span>
                </div>
            </div>
        </form>
        <br/>
        <div class="row">
            <div ng-hide="searchResults.resolved" class="loader text-center">
                <h4>Searching for decks...</h4>
                <div class="progress" style="width: 60%; margin: auto">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
            <h4 ng-hide="!searchResults.resolved || searchResults.results.length" class="text-center">No decks found.</h4>
            <div ng-show="searchResults.resolved" class="col-md-3" ng-repeat="deck in searchResults.results">
                <deck-summary deck="deck" game="game"></deck-summary>
            </div>
        </div>
        <div ng-show="searchResults.resolved && searchResults.results.length" class="page-footer">
            <div class="page-count">
                <span>{{ currentPage }} / {{ searchResults.totalPages }}</span>
            </div>
            <pager total-items="searchResults.total" items-per-page="searchResults.limit" ng-model="currentPage"></pager>
        </div>
        <hr>
        <button class="btn btn-success pull-right" ng-disabled="decksEmpty()" ng-click="nextStep()">
            Next Step <i class="fa fa-arrow-right"></i>
        </button>
    </div>

    <!-- Step 3: Add Bots -->
    <div collapse="step != 3">
        <h2 class="text-center">Add Bots:</h2>
        <form class="row" role="form">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="input-group">
                    <input type="text" placeholder="Rando Cardrissian" class="form-control" ng-model="botName">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-success" ng-click="addBot(botName)" title="Add Bot">
                            <i class="fa fa-plus"></i> <span class="hidden-xs">Add Bot</span>
                        </button>
                    </span>
                </div>
            </div>
        </form>
        <br/>

        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="bot in bots">
                        <button type="button" class="close" style="margin-top: -2px" ng-click="removeBot(bot.id)">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                        </button>
                        {{ bot.name }}
                    </li>
                </ul>
            </div>
        </div>

        <hr>
        <button class="btn btn-default pull-left" ng-click="prevStep()">
            <i class="fa fa-arrow-left"></i> Previous Step
        </button>
        <button class="btn btn-primary pull-right" ng-click="finishSetup()">
            <i class="fa fa-bolt"></i> Finish Setup
        </button>
    </div>
</div>