//----------------------------------------------------------------------------------------------------------------------
// Card Crimes main theme file
//----------------------------------------------------------------------------------------------------------------------

@import "bootstrap";

//----------------------------------------------------------------------------------------------------------------------

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

// Original Bootstrap's CSS depends on empty href attributes to style cursors for several components (pagination, tabs
// etc.). But in AngularJS adding empty href attributes to link tags will cause unwanted route changes. See:
//      http://angular-ui.github.io/bootstrap/#/getting_started
.nav,
.pagination,
.carousel,
.panel-title a {
    cursor: pointer;
}

// Turn this into .fa, since we're not using .glyphicon, and the ui.bootstrap rating directive doesn't support
//font-awesome.
.glyphicon {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

//----------------------------------------------------------------------------------------------------------------------
// Additional styling
//----------------------------------------------------------------------------------------------------------------------

.blank {
    color: #099;
    text-decoration: underline;
}

//----------------------------------------------------------------------------------------------------------------------
