<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>Welcome to <span class="blank">Card Crimes</span>!</h1>
        <p>
            Card Crimes is an online 'fill in the blank' card party game, styled off Cards Against Humanity&#0153;. It
            leverages custom built decks from <a href="http://cardcastgame.com">Cardcast</a>, and complete support for
            any platform that can run HTML5 web apps.
        </p>
        <p>
            <a class="btn btn-primary btn-lg" href="/game" role="button">Browse Games</a>
            <a class="btn btn-success btn-lg" href="/game/new" role="button">New Game</a>
        </p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Recent Games:</h2>
            <div class="row" ng-hide="recentGames.length == 0">
                <div class="col-md-3" ng-repeat="game in recentGames">
                    <game-summary game="game"></game-summary>
                </div>
            </div>
            <h4 ng-show="recentGames.length == 0" class="text-center">No games have been created, yet.</h4>
        </div>
    </div>

</div>