<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" ng-click="isCollapsed = !isCollapsed" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><i class="fa fa-gavel"></i> Card Crimes</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" collapse="isCollapsed">
            <button ng-hide="renaming" class="btn btn-success navbar-btn pull-right" ng-click="renaming=true" style="margin-left: 25px;" title="Rename">
                <i class="fa fa-edit"></i> <span class="hidden-xs">Rename</span>
            </button>
            <p ng-hide="renaming" class="navbar-text navbar-right">
                <b>Player Name:</b> {{ client.name }}
            </p>
            <form ng-show="renaming" class="navbar-form navbar-right" role="form">
                <div class="input-group">
                    <input type="text" placeholder="Nickname" class="form-control" ng-model="nick">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-success" ng-click="rename(nick)" title="Set Nickname">
                            <i class="fa fa-save"></i> <span class="hidden-xs">Set Nickname</span>
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</nav>
