<footer id="site-footer" class="container text-center">
    <hr>
    <ul>
        <li><a href="https://github.com/SkewedAspect/card-crimes"><i class="fa fa-github"></i> GitHub Project</a></li>
        <li>|</li>
        <li><a href="https://github.com/SkewedAspect/card-crimes/issues/new"><i class="fa fa-bug"></i> Report an Issue</a></li>
    </ul>
    <p>
        Card Crimes <a href="https://github.com/SkewedAspect/card-crimes/releases/tag/{{ version }}">v{{ version }}</a>
        <br/> &copy; 2015 <a href="http://skewedaspect.com">Skewed Aspect Studios</a>. All rights reserved.
    </p>
    <p>
        <small>
            “Cards Against Humanity” is a trademark of Cards Against Humanity LLC. <br/>
            “Cardcast” is owned by <a href="http://cardcastgame.com">Cardcast</a>.
        </small>
    </p>
</footer>
