<div class="player-page">

    <!-- Include the judge template if we're the judge -->
    <div ng-if="game.currentJudge == client.id" ng-include="'/game/judge.html'"></div>

    <!-- Other wise, we are just a normal player -->
    <div ng-if="game.currentJudge != client.id">
        <div class="well call-box">
            <div class="container">
                <h1 class="text-center">
                    <span class="call" ng-repeat="snippet in game.currentCall.text">
                        {{ snippet }}
                        <span ng-if="!$last" class="blank">{{ getCardText(selectedCards[$index]) || '&nbsp;' }}</span>
                    </span>
                </h1>
                <div class="row" collapse="!submitReady">
                    <hr>
                    <div class="col-md-offset-4 col-md-4">
                        <button class="btn btn-primary btn-block" ng-click="submitCards()">
                            <i class="fa fa-sign-in"></i> Submit
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-3" ng-repeat="card in client.responses">
                    <div class="panel panel-default response-card" ng-class="{'panel-default': selectedCards.indexOf(card.id) == -1, 'panel-primary': selectedCards.indexOf(card.id) != -1}" ng-click="selectCard(card.id)">
                        <div class="panel-body">
                            <h4>{{ card.displayText | renderResponse }}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

