<div class="container">
    <h2 class="text-center">Browse Games</h2>
    <form class="row" role="form">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="input-group">
                <input type="text" placeholder="Game Name" class="form-control" ng-model="queryString">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary" ng-click="query = queryString" title="Search">
                        <i class="fa fa-search"></i> <span class="hidden-xs">Search</span>
                    </button>
                </span>
            </div>
        </div>
    </form>
    <br/>
    <div class="row" ng-hide="games.length == 0">
        <div class="col-md-3" ng-repeat="game in games | filter: {name: query}">
            <game-summary game="game"></game-summary>
        </div>
    </div>
    <h4 ng-show="games.length == 0" class="text-center">No games have been created, yet.</h4>
</div>
