//----------------------------------------------------------------------------------------------------------------------
// Deck Summary Styles
//----------------------------------------------------------------------------------------------------------------------

.deck-summary {
    position: relative;

    .title {
        position: relative;
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 7px;

        max-height: 2.2em;
        overflow: hidden;
        white-space: nowrap;

        .fade-box {
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            width: 2em;
            background: linear-gradient(to right,rgba(255,255,255,0)0,#fff 100%);
        }
    }

    .view-link {
        position: absolute;
        top: 8px;
        right: 7px;

        font-size: 1em;
        z-index: 1000;
    }

    .rating {
        i.fa {
            margin-right: -2px;

            &:first-child {
                margin-right: 0;
            }
        }
    }

    .footer {
        margin-top: 10px;

        .author {
            font-size: .95em;
            color: #999;
        }

        .code {
            float: right;
            font-size: .95em;
            font-weight: bold;
        }
    }

    .count {
        float: right;

        .badge.call {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            margin-right: -2px;
            background-color: #111;
        }

        .badge.response {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            margin-left: -2px;
            background-color: #099;
        }
    }
}

//----------------------------------------------------------------------------------------------------------------------
